ion-menu-button {
    --color: white;
  }

img{
    width: 50%;
}


h5{
    color: white;
    font-size: small;
    
}

ion-toolbar{
    --background:black;
    padding: 10px;
    align-items: center;
    height: auto;
}

.formulario{
    padding: 20px;
    text-align: center;
}

ion-button{
    margin-top:10% ;
    --background:black;
    transition: transform 0.2s;
}

ion-button:hover{
    --background:#ffb800;
    transform: scale(1.1);
}

a{
    text-decoration: none;

    
}
 
a:hover{
    color: #ffb800;
}

h1{
    text-align: center;
}

ion-content{
    text-align: center;
    padding: 30px;
}

.botones{
    padding: 40px;
}

ion-footer{
    --background:black;
}

ion-footer img{
    width: 200%;
}
