#clima {
    height: 100%;
  }

  ion-toolbar img{
    width: 50%;
}

h5{
    color: white; 
    font-size: small; 

    
}


ion-toolbar{
  --background:black;
  padding: 10px;
  align-items: center;
}

.cabeza{
 display: flex;
 align-items: center;
 margin: 0;
 padding: 0;
}

.cabeza img{
  width: 60px;

}

ion-card-title{
  color: white;
}

ion-card{
  background-color: #2170B9  ;
}

.title{
  color: white;
}
ion-card-content{
  color: white;
  display: flex;
  justify-content: space-between;
}

.info2{
  text-align: right;
}

.info2 h2{
  font-size: large;
}