<ion-header [translucent]="true">
  <ion-toolbar>
      <div slot="end">
        <img src="assets/imagenes/iconoDuoc.png" alt="">
      </div>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content> 
  
  <div class="qr">
    <img src="assets/imagenes/qr.png" alt="">
    <ion-button type="submit"  expand="block" (click)="capturalista()">Tomar Captura</ion-button>
  </div>
</ion-content> 

<ion-footer>
  <ion-toolbar>
    <img src="assets/imagenes/footer.png" alt="">
  </ion-toolbar>
</ion-footer>

 