<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/imagenes/iconoDuoc.png" alt="">
    <h5><i>Asistencia Alumnos</i></h5>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>Restablecer Contraseña</ion-card-title>
      </ion-card-header>
      <p>Las intrucciones para restablecer su Contraseña han sido enviadas a su número celular registrado 9******04. Para más información acercarse a oficina de servicio estudiantiles o su coordinar de carrera </p>
      <a href="/ingresar"><ion-button expand="full" type="button">Ingresar</ion-button></a>
    </ion-card-content>

</ion-content> 
 
<ion-footer>
  <ion-toolbar>
    <img src="assets/imagenes/footer.png" alt="">
  </ion-toolbar>
</ion-footer>